extends default

block content
  each post in site.posts.toArray()
    +b.ARTICLE.post-preview
      +e.H1.title
        +e.A(href=url_for(post.path)).link= post.title
      +e.date= post.date.format('D MMMM YYYY')
      +e.P.teaser= post.teaser
      +e.A(href=url_for(post.path)).read-more Read more
