extends default

block content
  each post in site.posts.toArray()
    article.post-preview
      h1.post-preview__title
        a.post-preview__title__link(href=url_for(post.path))= post.title
      div.post-preview__date= post.date.format('D MMMM YYYY')
      p.post-preview__teaser= post.teaser
      a.post-preview__read-more(href=url_for(post.path)) Read more
