extends default

block content
  each post in site.posts.sort('date', 'desc').toArray()
    +b.ARTICLE.post-preview
      +e.H1.title
        +e.A(href=url_for(post.path)).link= post.title
      +e.date= post.date.format('D MMMM YYYY')
      +b.tags
        each tag in post.tags.toArray()
          +e.A(href=tag.permalink)
            +e.tag= tag.name
      +e.P.teaser= post.teaser
