@import 'jeet'
@import 'nib'
@import 'rupture'
@import 'typographic'

// =========
// = Fonts =
// =========

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')
@import url('//fonts.googleapis.com/css?family=Merriweather:400,700')
@import url('//fonts.googleapis.com/css?family=Fira+Mono:400,700')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
@import url('//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css')

// ==========
// = Colors =
// ==========

$black-0      = #2d2d2d
$black-1      = #393939
$dark-grey-0  = #515151
$dark-grey-1  = #747369
$light-grey-0 = #a09f93
$light-grey-1 = #d3d0c8
$white-0      = #e8e6df
$white-1      = #f2f0ec
$red          = #f2777a
$orange       = #f99157
$yellow       = #ffcc66
$green        = #99cc99
$cyan         = #66cccc
$blue         = #6699cc
$violet       = #cc99cc
$brown        = #d27b53

// ===============
// = Typographic =
// ===============

$body-font          = 'Merriweather', 'serif'
$body-font-weight   = normal
$body-color         = $black-0
$header-font        = 'Source Sans Pro', 'sans-serif'
$header-font-weight = bold
$header-color       = $dark-grey-0
$max-font           = 18px
$min-font           = 14px
$vertical-rhythm    = true
$courier            = 'Fira Mono', 'monospace'

typographic()

// =========
// = Sizes =
// =========

$desktop-width = 720px

// ==========
// = Mixins =
// ==========

button(bg-color)
  font-family: 'Source Sans Pro', sans-serif
  border-radius: .2em
  color: white
  display: inline-block
  font-weight: bold
  padding: .4em .6em
  text-transform: uppercase
  transition: background-color .6s ease-out 0s
  background-color: bg-color
  &:hover
    background-color: shade(bg-color, 30%)
    color: white

// ==========
// = Common =
// ==========

main
  +desktop()
    center($desktop-width)

footer
  padding: 2rem

a
  text-decoration: none
  color: $blue
  &:hover
    color: shade($blue, 30%)

pre
  background-color: $black-0
  overflow: auto
  code
    color: $white-0

p, ol, ul
  code
    color: $dark-grey-1
    background-color: $white-1

table
  td, th
    border: 1px solid $light-grey-1
  th
    text-align: center
  tr
    &:nth-child(2n)
      background-color: $white-1

blockquote
  display: block
  background-color: $white-1
  padding: 15px 20px 15px 50px
  margin: 0 0 20px
  position: relative
  border-left-style: solid
  border-left-width: 15px
  border-color: $blue

  &:after
    content: "\201C"
    font-size: 3em;
    font-weight: bold;
    color: $blue
    position: absolute;
    left: 0px;
    top: 25px;
  &:before
    content: ""

// ==========
// = Blocks =
// ==========

.logo
  margin-top: 3rem
  margin-bottom: 2rem
  text-align: center
  font-weight: bold
  font-size: 4rem
  &__head
    color: $dark-grey-0 !important
  &__tail
    color: $blue !important

.nav-menu
  font-family: $header-font
  margin: 1em 0
  text-align: center
  padding: 0
  &__item
    display: inline-block
    &:after
      color: $light-grey-0
      content: "\2022"
      padding: 0 .6em 0 .8em
    &:last-child:after
      content: ""
      padding: 0
  &__link
    color: $light-grey-0
    text-transform: uppercase
    &:hover
      color: $dark-grey-0

.post-preview
  border-top: 1px solid $light-grey-1
  min-height: 8em
  padding: 1em 2em 2em 2em
  position: relative
  &:last-child
    border-bottom: 1px solid $light-grey-1
  &__link
    color: $dark-grey-0
    &:hover
      color: $dark-grey-1
  &__date
    font-family: 'Source Sans Pro', sans-serif
    color: $light-grey-0
    margin: 1rem 0
  .tags
    margin: 1rem 0

.post
  &__title
    color: $dark-grey-0
  &__date
    font-family: 'Source Sans Pro', sans-serif
    color: $light-grey-0
    margin: 1rem 0
  &__divider
    border-bottom: 1px solid $light-grey-1
    height: 1px
    margin: 1rem 0
  img
    max-width: 100%
    display: block
    margin: 0 auto

.tags
  &__tag
    text-align: center
    font-family: 'Source Sans Pro', sans-serif
    border-radius: 3px
    color: white
    padding: 0px 7px
    transition: background-color .6s ease-out 0s
    background-color: $blue
    margin-right: 7px
    &:hover
      background-color: shade($blue, 30%)
      color: white

.contacts
  center(site-width)
  text-align: center
  &__item
    display: inline-block
    margin-right: 1em
    &:last-child
      margin-right: 0
    +desktop()
      font-size: 2rem
    +tablet()
      font-size: 3rem
    +mobile()
      font-size: 2.5rem
  &__link
    &_twitter
      color: #1da1f2
      &:hover
        color: shade(#1da1f2, 30%)
    &_github
      color: #333
      &:hover
        color: shade(#333, 30%)
    &_linkedin
      color: #0077b5
      &:hover
        color: shade(#0077b5, 30%)

// =============
// = Highlight =
// =============

code
  .keyword
    color: $blue
  .variable, .regexp
    color: $red
  .section, .symbol
    color: $yellow
  .number
    color: $orange
  .string
    color: $green
  .comment
    color: $dark-grey-1
  .built_in
    color: $violet
