@import 'jeet'
@import 'nib'
@import 'rupture'
@import 'typographic'

// =========
// = Fonts =
// =========

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')
@import url('//fonts.googleapis.com/css?family=Merriweather:400,700')
@import url('//fonts.googleapis.com/css?family=Fira+Mono:400,700')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
@import url('//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css')

// ==========
// = Colors =
// ==========

$black-0      = #2d2d2d
$black-1      = #393939
$dark-grey-0  = #515151
$dark-grey-1  = #747369
$light-grey-0 = #a09f93
$light-grey-1 = #d3d0c8
$white-0      = #e8e6df
$white-1      = #f2f0ec
$red          = #f2777a
$orange       = #f99157
$yellow       = #ffcc66
$green        = #99cc99
$cyan         = #66cccc
$blue         = #6699cc
$violet       = #cc99cc
$brown        = #d27b53

// ===============
// = Typographic =
// ===============

$body-font          = 'Merriweather', 'serif'
$body-font-weight   = normal
$body-color         = $black-0
$header-font        = 'Source Sans Pro', 'sans-serif'
$header-font-weight = bold
$header-color       = $dark-grey-0
$max-font           = 18px
$min-font           = 14px
$vertical-rhythm    = true
$courier            = 'Fira Mono', 'monospace'

typographic()

// =========
// = Sizes =
// =========

$desktop-width = 720px

// ==========
// = Mixins =
// ==========

button(bg-color)
	font-family: 'Source Sans Pro', sans-serif
	border-radius: .2em
	color: white
	display: inline-block
	font-weight: bold
	padding: .4em .6em
	text-transform: uppercase
	transition: background-color .6s ease-out 0s
	background-color: bg-color
	&:hover
		background-color: shade(bg-color, 30%)
		color: white

// ==========
// = Common =
// ==========

main
	+desktop()
		center($desktop-width)

footer
	padding: 2rem

a
	text-decoration: none
	color: $blue
	&:hover
		color: shade($blue, 30%)

pre
	background-color: $black-0
	overflow: auto
	code
		color: $white-0

p
	code
		color: $dark-grey-1
		background-color: $white-1

table
	td, th
		border: 1px solid $light-grey-1
	th
		text-align: center
	tr
		&:nth-child(2n)
			background-color: $white-1

// ==========
// = Blocks =
// ==========

.logo
	margin-top: 3rem
	margin-bottom: 2rem
	text-align: center
	font-weight: bold
	font-size: 4rem
	&__head
		color: $dark-grey-0 !important
	&__tail
		color: $blue !important

.nav-menu
	font-family: $header-font
	margin: 1em 0
	text-align: center
	padding: 0
	&__item
		display: inline-block
		&:after
			color: $light-grey-0
			content: "\2022"
			padding: 0 .6em 0 .8em
		&:last-child:after
			content: ""
			padding: 0
	&__link
		color: $light-grey-0
		text-transform: uppercase
		&:hover
			color: $dark-grey-0

.post-preview
	border-top: 1px solid $light-grey-1
	min-height: 8em
	padding: 1em 2em 2em 2em
	position: relative
	&:last-child
		border-bottom: 1px solid $light-grey-1
	&__link
		color: $dark-grey-0
	&__date
		font-family: 'Source Sans Pro', sans-serif
		color: $light-grey-0
		margin: 1rem 0
	&__read-more
		button($green)

.post
	&__date
		font-family: 'Source Sans Pro', sans-serif
		color: $light-grey-0
		margin: 1rem 0
	&__divider
		border-bottom: 1px solid $light-grey-1
		height: 1px
		margin: 1rem 0

.contacts
	center(site-width)
	text-align: center
	&__item
		display: inline-block
		margin-right: 1em
		&:last-child
			margin-right: 0
		+desktop()
			font-size: 2rem
		+tablet()
			font-size: 3rem
		+mobile()
			font-size: 2.5rem
	&__link
		&_twitter
			color: $cyan
			&:hover
				color: $cyan
		&_github
			color: $dark-grey-0
			&:hover
				color: $dark-grey-0
		&_linkedin
			color: $blue
			&:hover
				color: $blue
		+desktop()
			color: $light-grey-0
			transition: color .6s ease-out 0s

// =============
// = Highlight =
// =============

code
	.keyword
		color: $blue
	.variable, .regexp
		color: $red
	.section, .symbol
		color: $yellow
	.number
		color: $orange
	.string
		color: $green
	.comment
		color: $dark-grey-1
	.built_in
		color: $violet
