@import 'jeet'
@import 'nib'

// =========
// = Fonts =
// =========

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')
@import url('//fonts.googleapis.com/css?family=Merriweather:400,700')
@import url('//fonts.googleapis.com/css?family=Fira+Mono:400,700')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

global-reset()

// ==========
// = Colors =
// ==========

b16-black-0      = #2d2d2d
b16-black-1      = #393939
b16-dark-grey-0  = #515151
b16-dark-grey-1  = #747369
b16-light-grey-0 = #a09f93
b16-light-grey-1 = #d3d0c8
b16-white-0      = #e8e6df
b16-white-1      = #f2f0ec
b16-red          = #f2777a
b16-orange       = #f99157
b16-yellow       = #ffcc66
b16-green        = #99cc99
b16-cyan         = #66cccc
b16-blue         = #6699cc
b16-violet       = #cc99cc
b16-brown        = #d27b53

// =========
// = Sizes =
// =========

logo-font-size = 4rem
h1-font-size = 2.5rem
h2-font-size = 2rem
h3-font-size = 1.5rem
h4-font-size = 1.2rem
p-font-size = 1rem
site-width = 40rem

// ==========
// = Mixins =
// ==========

button(bg-color)
  border-radius: .2em
  color: white
  display: inline-block
  font-size: h4-font-size
  font-weight: bold
  padding: .4em .6em
  text-transform: uppercase
  transition: background-color .6s ease-out 0s
  background-color: bg-color
  &:hover
    background-color: shade(bg-color, 30%)

// ==========
// = Common =
// ==========

body
  font-family: 'Source Sans Pro', sans-serif

header
  margin: 1rem 0

main
  padding-top: 3rem
  center(site-width)

footer
  margin-top: 1rem
  padding: 3rem

a
  text-decoration: none
  color: b16-blue

p
  font-family: 'Merriweather', serif
  line-height: 150%
  margin: 1rem 0
  color: b16-black-0

h1, h2, h3
  color: b16-dark-grey-0
  font-weight: bold

h1
  font-size: h1-font-size
  margin: 1rem 0

h2
  margin: 1rem 0
  font-size: h2-font-size

h3
  margin: 1rem 0
  font-size: h3-font-size

pre
  margin: 1rem 0

code
  font: 1rem/140% 'Fira Mono'
  border-radius: 0.4rem

// ==========
// = Blocks =
// ==========

.logo
  display: block
  text-align: center
  font-weight: bold
  font-size: logo-font-size
  &__head
    color: b16-dark-grey-0 !important
  &__tail
    color: b16-blue !important

.nav-menu
  margin: 1rem 0
  text-align: center
  &__item
    display: inline-block
    &:after
      color: b16-light-grey-0
      content: "\2022"
      padding: 0 .6em 0 .8em
    &:last-child:after
      content: ""
      padding: 0
  &__link
    color: b16-light-grey-0
    text-transform: uppercase
    &:hover
      color: b16-dark-grey-0

.post-preview
  border-top: 0.1rem solid b16-light-grey-1
  min-height: 8em
  padding: 1rem 2rem 2rem 2rem
  position: relative
  &:last-child
    border-bottom: 0.1rem solid b16-light-grey-1
  &__link
    color: b16-dark-grey-0
  &__date
    color: b16-light-grey-0
    font-size: medium-font-size
    margin-top: .5em
    text-transform: uppercase
  &__read-more
    button(b16-green)

.contacts
  center(site-width)
  text-align: center
  &__item
    display: inline-block
    font-size: 1.7rem
    margin-right: 1em
    &:last-child
      margin-right: 0
  &__link
    color: b16-light-grey-0
    transition: color .6s ease-out 0s
    &--twitter:hover
      color: b16-cyan
    &--github:hover
      color: b16-dark-grey-0
    &--linkedin:hover
      color: b16-blue
